body{
    text-align: center;
    background-image: url("image/flat,550x550,075,f.u3.jpg");
}
#title{
    color: white;
    background-color: darkmagenta;
    margin-left: 40%;
    margin-right: 40%;
}
#high{
    color: white;
    background-color: darkmagenta;
    margin-left: 40%;
    margin-right: 40%;
}
#total{
    color: white;
    margin-left: 40%;
    margin-right: 40%;
    background-color: darkmagenta;
}